<!DOCTYPE html>
<html lang="en">
<head>
    <title>Doctor Secret Room</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header th:replace="header.html :: top">Header tbreplaced</header>
<section>
    <h1 th:text="|Welcome ${doctorname}!|">Welcome Doc</h1>
    <h3 th:text="|Your number is ${doctornumber}!|">Your number is - when in doubt - always 42. Always.</h3>
</section>
<footer th:replace="footer.html :: footer">Footer tbreplaced if it's working</footer>
</body>
</html>
