<!DOCTYPE html>
<html lang="en">
<head>
    <title>Doctor Sign In</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header>
    <nav>
        <span>Doctor Secret Service</span>
        <a href="/">Sign In</a>
    </nav>
</header>
<form method="get" action="doctor">
    <fieldset>
        <label for="name">Your doctor's name: </label>
        <input id="name" name="name" type="text" placeholder="John Doe">
        <hr>
        <label for="number">Your doctor's number: </label>
        <input id="number" name="number" type="number" placeholder="13">
        <hr>
        <input type="submit" value="Sign In">
    </fieldset>
</form>
<footer>
    <ul>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">TARDIS</a></li>
    </ul>
    <span>Copyright BBC/Terry Nation 1963</span>
</footer>
</body>
</html>
